<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - brobywebb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

    <body>
        <header>
            
                <nav class="navbar-inverse"><a class="stretch">

    <a href="/" class="noHover">
        <img src="~/Resources/Logga/Bild1.png" alt="logo" class="logo">
    </a>

    <nav>
        <ul>
            <li><a href="/">HEM</a></li>
            <li><a href="/service">SERVICE</a></li>
            <li><a href="/underhall">RENGÖRING & UNDERHÅLL</a></li>
            <li><a href="/om">OM OSS</a></li>
            <li><a href="/kontakt">KONTAKT</a></li>

        </ul>
    </nav>
</a>
            </nav>
        </header>
    </body>
    <body>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        
        <h5 class="text-center">Auktoriserad Partner för </h5>

        <div class="row">

            <div class="partners">
                <img src="~/Resources/Diverse bilder/Bosch.png" alt="Bosch" class="partners" />
            </div>
            <div class="partners">
                <img src="~/Resources/Diverse bilder/Siemens.png" alt="Siemens" class="partners" />
            </div>
            <div class="partners">
                <img src="~/Resources/Diverse bilder/Garantgruppen.png" alt="Garantgruppen" class="garantlogga" />
            </div>
        </div>


        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - brobywebb - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
