
brobywebb/.vs/brobywebb/v16/Server/sqlite3/storage.ide-shm
brobywebb/.vs/brobywebb/v16/Server/sqlite3/storage.ide-wal
!brobywebb/.vs/brobywebb/v16/.suo
brobywebb/.vs/brobywebb/v16/Server/sqlite3/storage.ide
brobywebb/.vs
brobywebb/brobywebb/bin/Debug
Debug
brobywebb/brobywebb/obj/Debug/netcoreapp3.1/brobywebb.csprojAssemblyReference.cache
brobywebb/brobywebb/obj/Debug/netcoreapp3.1/brobywebb.csprojAssemblyReference.cache
