@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">

    <h2> Välkomna att bidra med hållbarhet och miljötänk före slit och släng </h2>

    <p>
        Broby Hushållsservice är ett professionellt vitvaruföretag med inriktning på service och reparationer.
        Vi är auktoriserade för att arbeta när garantin gäller på din vitvara från Bosch, Siemens, Gaggenau, Neff, samt märken under Garantgruppen.
        Vi har hand om försäkringsärenden på din vitvara då din hemförsäkring täcker utöver garantin.
        Övriga märken reparerar vi om möjligt även efter garanti.
    </p>
    <p>
        När det gäller vitvaror är det viktigt att köpa produkter av hög kvalitet och att sedan underhålla,
        serva och laga dem om något går sönder. Tack vare RUT-avdraget har det blivit ännu mer förmånligt att laga än att
        slänga och köpa nytt i de flesta fall.
    </p>
    <p>
        Sedan 1987 har vi på Broby Hushållsservice reparerat och servat vitvaror.
        Vi har lärt oss mycket under resans gång och har samlat på oss många års erfarenhet.
        Vi gör allt vi kan för att reparera på ett smidigt och effektivt sätt.
        Samtidigt tar vi hand om korrekt återvinning av elektronik, metallskrot och skrotning av vitvaror.
        Allt för att värna om miljön och vår gemensamma framtid.
    </p>
    <p>
        Vi har öppet måndagar till fredagar 8–16 (lunchstängt 12–13) i vårt kontor och verkstad på Njuravägen 2 i Broby.
        Varmt välkomna till oss.
    </p>

</div>

<h5 class="text-center">Auktoriserad Partner för </h5>

<div class="row">

    <div class="partners">
        <img src="~/Resources/Diverse bilder/Bosch.png" alt="Bosch" class="partners" />
    </div>
    <div class="partners">
        <img src="~/Resources/Diverse bilder/Siemens.png" alt="Siemens" class="partners" />
    </div>
    <div class="partners">
        <img src="~/Resources/Diverse bilder/Garantgruppen.png" alt="Garantgruppen" class="garantlogga" />
    </div>
</div>
