@page
@model brobywebb.kontaktModel
@{
    ViewData["Title"] = "kontakt";


}




<div class="row">

    <div class="kontaktlogos">
        <img src="~/Resources/Diverse bilder/Adress.jpg" alt="Adress" class="kontaktlogos" />
        <h3> Adress </h3>
        <p>
            Broby Hushållsservice AB
        </p>
        <p>
            Njuravägen 2
        </p>

        <p>
            289 43 Broby
        </p>
    </div>

    <div class="kontaktlogos">
        <img src="~/Resources/Diverse bilder/Mobil.jpg" alt="Mobil" class="kontaktlogos" />
        <h3> Kontor </h3>
        <p>
            044–40032
        </p>
    </div>

    <div class="kontaktlogos">
        <img src="~/Resources/Diverse bilder/Mail.jpg" alt="E-post" class="kontaktlogos" />
        <h3> E-post </h3>
        <p>
            info@brobyhhs.se
        </p>
    </div>
</div>


