@page
@model brobywebb.OmModel
@{
    ViewData["Title"] = "Om";
}

<div class="text-left">
    

    <h2> Om Oss</h2>

    <p>
        Med lång erfarenhet och spetskompetens på vitvaror och god service är vi här för att hjälpa dig.
        Våra tekniker har mycket kunskap och är utbildade samt väl övade att reparera och ta hand om din vitvara. 
        Företaget grundades av Edmund och Lena Goldman 1985. Sedan dess har företaget växt 
        och utvecklats med tiden. Vi står till tjänst för privatkunder, hyresvärdar, företag, institutioner med flera.
    </p>

</div>


