@page
@model brobywebb.ServiceModel
@{
    ViewData["Title"] = "Service";
}

    <div class="text-left">

        <h2>Service</h2>

        <img src="~/Resources/Diverse bilder/Service1.png" alt="Service" />

        <h3>Boka service med hjälp av din produkts E-nummer</h3>
        <img src="~/Resources/Diverse bilder/Service2.png" alt="Service" class="servicelogo" />
        <p>

            E-nr är produktens identifikationsnummer (modellnummer). Vi behöver detta för att kunna ta med rätt reservdelar och för att
            få ett lyckat första besök hos kunden. Du hittar E-numret på din produkts typskylt. Typskylten är placerad på olika platser
            beroende av produkt.

        </p>



        <img src="~/Resources/Diverse bilder/Service3.png" alt="Service" />

    </div>



<h5 class="text-center">Auktoriserad Partner för </h5>

<div class="row">

    <div class="partners">
        <img src="~/Resources/Diverse bilder/Bosch.png" alt="Bosch" class="partners" />
    </div>
    <div class="partners">
        <img src="~/Resources/Diverse bilder/Siemens.png" alt="Siemens" class="partners" />
    </div>
    <div class="partners">
        <img src="~/Resources/Diverse bilder/Garantgruppen.png" alt="Garantgruppen" class="garantlogga" />
    </div>
</div>