@page
@model brobywebb.underhallModel
@{
    ViewData["Title"] = "underhall";
}

    <div class="text-left">

        <h2> Skötsel och underhåll</h2>

        <img src="~/Resources/Diverse bilder/underhall.png" alt="Underhåll" />

        <p>
            Ta hand om dina produkter – så håller dem längre.
            Följ skötselråden i bruksanvisningen för att slippa onödiga reparationer eller servicebesök.
            Vi har rengörings och skötselprodukter till dem flesta av dina vitvaror.
            Välkommen till oss för att få skötselråd och få hem rätt produkter för bland annat rengöring och avkalkning.
        </p>

    </div>


    <h5 class="text-center">Auktoriserad Partner för </h5>

    <div class="row">

        <div class="partners">
            <img src="~/Resources/Diverse bilder/Bosch.png" alt="Bosch" class="partners" />
        </div>
        <div class="partners">
            <img src="~/Resources/Diverse bilder/Siemens.png" alt="Siemens" class="partners" />
        </div>
        <div class="partners">
            <img src="~/Resources/Diverse bilder/Garantgruppen.png" alt="Garantgruppen" class="garantlogga" />
        </div>
    </div>
